@inherits RazorFunction

@functions {
    public override string FunctionDescription
    {
        get { return "A demo function that outputs a hello message."; }
    }

    [FunctionParameter(Label = "Product List Page")]
    public DataReference<IPage> ProductListPage { get; set; }
    
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div>      
        @{var categories = Data.Get<My.Sale.Category>().Where(t => t.Parent == Guid.Empty).ToList(); }
        @RecursiveCategory(categories)
    </div>
</body>
</html>

@helper RecursiveCategory(List<My.Sale.Category> categories)
{
    using (DataConnection Data = new DataConnection())
    {
        <ul>
        @foreach (var item in categories)
        {
            <li class="@((categories.IndexOf(item) == 0) ? "no-dots" : "")"><a href='@Html.C1().PageUrl(@ProductListPage.Data)/@item.Id'>@(item.CategoryName)</a>
            @{
            var subCategories = Data.Get<My.Sale.Category>().Where(t => t.Parent == item.Id).ToList();
            if (subCategories.Count > 0)
            {
                    @RecursiveCategory(subCategories);
            }
            }
            </li>
        }
        </ul>
    }
}
